<div class="container">
  <div class="col1">
      <img src="../assets/Secure login-pana.png" alt="logo">
  </div>
  <div class="col2">
    <form action="post">
      <h2>Login</h2>
      <div class="username"><span class="material-symbols-outlined">
        face
        </span><input type="text" name="" id="" placeholder="Username"></div>
      <div class="password">
        <span class="material-symbols-outlined">
          lock
          </span>
          <input type="password" name="" id="" placeholder="Password">
      </div>
      <div class="btn">
        <button type="submit">Submit </button>
      </div>
      
    </form>
  </div>
</div>

<!-- <span class="material-symbols-outlined">search</span> -->