
.container{
    background-size: cover;
    background-color: #c21b17;
    max-width: 100%;
    height: 100vh;
    
    color:#fff;
    display: flex;
}
h1{
    margin:0;
}
.col1{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}
.col1 img{
    width: 80%;
}
.col2{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.col2 form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    justify-content: center;
    text-align: center;
}
form h2{
    font-weight: bold;
    font-size:2em ;

}
form div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
}
form input,button{
    
    padding: 10px 25px;
    border: none;
    border-radius: 7px;
    outline:none;
    background-color: #fff;
}
.btn{
    display: flex;

}
button{
    margin-top: 20px;
    font-weight: bolder;
    width: fit-content;
    
}
